*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:#367c2b;
}
html{
    font-family: sans-serif;
    
}
body{
    max-width: 125em;
    width: 100%;
    background-color:  #eef2ee;
    margin: auto;
}
.container1_banner_header_geral{
    border: solid 1px black;
    max-width: 125em;
    width: 100%;
    height: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;
    
}
.container1_img{
    max-width: 125em;
    width: 100%;
    height: 30em;
    filter: brightness(40%);
    position: relative;
    z-index: 0;
}
.logo_navecagao_geral{
    max-width: 125em;
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
    
}
.logo{
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
}
.logo span{
    color: var(--primary-color);
}
.nav_config{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.nav{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .1em;
}
.nav:hover{
    color:var(--primary-color);
}
.container2_txtbanner_btn_geral{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    top: 18em;
}
.container2_txt1{
    color: white;
    font-size: 1.7em;
}
.container2_txt2{
    font-size: 2.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}
.container1_btn{
    color: white;
    text-decoration: none;
    background-color: var(--primary-color);
    padding: .6em 2em;
    text-align: center;
    border-radius: 2em;
    font-size: 1.2em;
    box-shadow: 3px 3px 5px white;
}
@media screen and (min-width:50em){
    .logo_navecagao_geral{
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        padding: 2em 3em;
        width: 100%;
    }
    .nav_config{
        flex-direction: row;
        gap: 3em;
    }
    .container2_txtbanner_btn_geral{
        top: 12em;
    }
}
@media screen and (min-width:81.25em){
    .logo_navecagao_geral{
        padding: 2em 10em;
    }
}

.container3_txt_cards_geral{
    width: 100%;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-bottom: 5em;
}
.container3_txt_geral{
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}
.container3_txt1{
    font-size: 1.5em;
    color: #367c2b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
}
.container3_txt2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    color: var(--primary-color);
    font-size: 2em;
}
.container3_txt3{
    color: var(--primary-color);
    font-size: 1.3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
}
.container3_cards_geral{
    width: 100%;
    display: grid;
    grid-template-columns: 20em;
    grid-template-rows: repeat(4,25em);
    justify-content: center;
    gap: 2em;
}
.container3_cards_geral a{
    text-decoration: none;
}
.container3_card_config{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 1em;
    text-align: center;
    margin: auto;
    background-color: white;
    box-shadow: 3px 3px 5px var(--primary-color);
    border-radius: 2em;
    
}
.container3_card_config:hover{
    scale: 1.05;
    opacity: 0.7;
}
.img_card{
    width: 100%;
    height: 15em;
    border-radius: 2em;
    padding: .5em;
}
.txt1_card{
    color: var(--primary-color);
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.txt2_card{
    color:rgb(128, 126, 126);
    font-size: 1.1em;
    
}
@media screen and (min-width:47.5em){
    .container3_cards_geral{
        grid-template-columns: 20em 20em;
        grid-template-rows: repeat(2,25em);
        
    }
}
@media screen and (min-width:89.37em){
    .container3_cards_geral{
        grid-template-columns: 20em 20em 20em 20em;
        grid-template-rows: repeat(1,25em);
        max-width: 89.37;
        width: 100%;
        
    }
}
.container4_txts_geral{
    margin-top: 5em;
    padding: 5em;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
    margin-bottom: 3em;
}
.container4_txt1, .container4_txt2{
    font-size: 1.6em;
    color: white;
}
@media screen and (min-width:68.75em){
    .container4_txts_geral{
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
    .container4_txt2{
        width: 30em;
    }
}
.footer_config{
    padding: 2em;
}
.logo_footer{
    text-align: center;
    color: black;
}